body {
    padding: 100px;
}

/* .bank-title {
    text-align: center;
} */


.submit-area {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 50px;

}

#transactionArea {
    display: none;
}